<div class="item">
    <ul class="itens">
        <li class="list-itens">
            <input type="checkbox" id="checkboxOne" value="Documentos e profissionais técnicos">
            <label for="checkboxOne">
                <img class="icons-list" src="../../../assets/images/icon/documentos-tecnicos.png" alt="">
                <h2>Documentos e profissionais técnicos</h2>
            </label>
        </li>
        <li class="list-itens">
            <input type="checkbox" id="checkboxTwo" value="Documentos gerais">
            <label for="checkboxTwo">
                <img class="icons-list" src="../../../assets/images/icon/documentos-gerais.png" alt="">
                <h2>Documentos gerais</h2>
            </label>
        </li>
        <li class="list-itens">
            <input type="checkbox" id="checkboxTree" value="Vegetação e meio ambiente">
            <label for="checkboxTree">
                <img class="icons-list" src="../../../assets/images/icon/Vegetacao.png" alt="">
                <h2>Vegetação e meio ambiente</h2>
            </label>
        </li>
        <li class="list-itens">
            <input type="checkbox" id="checkboxFour" value="Poluição e contaminação">
            <label for="checkboxFour">
                <img class="icons-list" src="../../../assets/images/icon/poluicao.png" alt="">
                <h2>Poluição e contaminação</h2>
            </label>
        </li>
        <li class="list-itens">
            <input type="checkbox" id="checkboxFive" value="Preservação cultural">
            <label for="checkboxFive">
                <img class="icons-list" src="../../../assets/images/icon/preservacao.png" alt="">
                <h2>Preservação cultural</h2>
            </label>
        </li>
        <li class="list-itens">
            <input type="checkbox" id="checkboxSix" value="Infraestrutura e obras públicas">
            <label for="checkboxSix">
                <img class="icons-list" src="../../../assets/images/icon/infraestrutura.png" alt="">
                <h2>Infraestrutura e obras públicas</h2>
            </label>
        </li>
        <li class="list-itens">
            <input type="checkbox" id="checkboxSeven" value="Urbanístico / parcelamento, uso e ocupação">
            <label for="checkboxSeven">
                <img class="icons-list" src="../../../assets/images/icon/urbanistico.png" alt="">
                <h2>Urbanístico / parcelamento, uso e ocupação</h2>
            </label>
        </li>
        <li class="list-itens">
            <input type="checkbox" id="checkboxEight" value="Edilício / obras e edificações">
            <label for="checkboxEight">
                <img class="icons-list" src="../../../assets/images/icon/edilicio.png" alt="">
                <h2>Edilício / obras e edificações</h2>
            </label>
        </li>
        <li class="list-itens">
            <input type="checkbox" id="checkboxNine" value="Acessibilidade, salubridade e segurança">
            <label for="checkboxNine">
                <img class="icons-list" src="../../../assets/images/icon/acessibilidade.png" alt="">
                <h2>Acessibilidade, salubridade e segurança</h2>
            </label>
        </li>
        <li class="list-itens">
            <input type="checkbox" id="checkboxTen" value="Leis e procedimentos especiais">
            <label for="checkboxTen">
                <img class="icons-list" src="../../../assets/images/icon/Leis.png" alt="">
                <h2>Leis e procedimentos especiais</h2>
            </label>
        </li>
        <li class="list-itens">
            <input type="checkbox" id="checkboxEleven" value="Regularização edilícia">
            <label for="checkboxEleven">
                <img class="icons-list" src="../../../assets/images/icon/regularizacao.png" alt="">
                <h2>Regularização edilícia</h2>
            </label>
        </li>
    </ul>
  
  </div>