.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
    bottom: 7rem;
}


#searchField {
    width: 20rem;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5rem;
    box-shadow: inset 4px 4px 8px #bebebe3f,
                inset -4px -4px 8px #ffffff3d;
    outline: none;
}

#searchField::placeholder {
    color: #888;
}

#searchButton {
    width: 20rem;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5rem;
    box-shadow: 4px 4px 8px #bebebe,
                -4px -4px 8px #ffffff;
    outline: none;
    background-color: orange;
    color: white;
    cursor: pointer;
    display: none;
}

#searchButton:hover {
    background-color: darkorange;
}